@import './constants.css';

.card {
  width: 240px;
  height: 320px;
  max-width: 100%;
  min-height: fit-content;
  background: linear-gradient(180deg, #FEFCF0 0%, #F1F0DE 100%);
  border: 2px solid transparent;
  border-radius: 10px;

  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.35);
  color: #333;
  overflow: hidden;
  padding: 5px;
  margin: 5px;
  transition: .3s;
}

.item-card__header {
    padding: 20px 22px;
    background: rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

[class$="--class"]:hover{
  border: 2px solid #2fd85c;
}

[class$="--spell"]:hover{
  border: 2px solid #2fcad8;
}

[class$="--equipment"]:hover{
  border: 2px solid #D8402F;
}

[class$="--rule"]:hover{
  border: 2px solid #d8ca2f;
}
